body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding-bottom: 60px; /* Add padding to the bottom */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px 0;
    background: #fff;
    border-radius: 8px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form select, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    align-self: flex-start;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

logoimage {
    width: 40px; /* Set fixed width */
    height: auto; /* Maintain aspect ratio */
    max-height: 40px; /* Limit the height */
    margin-right: 10px;
    background-color: gray;
}

logo {
    display: flex;
    align-items: center;
}

logo img {
    width: 40px; /* Set fixed width */
    height: auto; /* Maintain aspect ratio */
    max-height: 40px; /* Limit the height */
    margin-right: 10px;
}

